.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 20px;
  color: darkgrey;
  -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.52);
  caret-color: rgba(255, 255, 255, 0.15);
  font-size: 20pt;
}

*:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}
